#The translocation_genes_only interval list contains only the 638 targets encoding translocated genes, as an option to reduce compute time and simplify interpretation
interval_list.file     <- "/xchip/cga_home/tpugh/AKT3_MAGI3_cell_lines/AKT3_MAGI3.interval_list"
ucsc.table.file        <- "/xchip/cga_home/tpugh/AKT3_MAGI3_cell_lines/refGene.txt"
remove.duplicates      <- TRUE #Set to TRUE to ignore duplicate-marked reads
min.interval.length    <- 100
min.mapping.quality    <- 30
min.base.quality       <- 20 #Used to isolate soft-clipped reads, discards reads with min.base.quality.frac bases below min.base.quality
min.soft.clipped.bases <- 33 #Number of	softclipped base pairs in read required	to keep	read as	evidence of translocation
min.insert.size        <- 5000
max.cluster.distance   <- 300
max.mate.partners      <- 5
min.cluster.size       <- 2

#For development only, disable for deployment
#ucsc.table.file        <- "/Users/tpugh/references/ucsc.refgene.txt"
#interval_list.file     <- "/Users/tpugh/Documents/VisCap/VisCapCancer/interval_list/POP_v1_Exons_Introns.no_overlaps.translocation_genes_only.interval_list" #This list contains only the 638 targets encoding translocated genes, as an option to reduce compute time
